<!DOCTYPE html>
<html>
<head>
  <title>MyCalendar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<%= render partial: "layouts/header" %>
<body>
<% if flash.any? %>
	<%= render partial: "shared/flash_messages", flash: flash %>
<% end %>
<%= yield %>

</body>
</html>
